*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: fit-content;
    border-bottom: solid #32323226 1px;
    background-color: #ff6126;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08);
}

header ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

header ul h3{
    margin-top: .8rem;
    font-size: 18pt;
    margin-left: 1rem;
}

header .logo{
    width: 80px;
    height: 80px;
    background-image: url(./../img/whiteIcon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1rem;
}

/* Eleito Área */

.eleito-area{
    margin-top: 2rem;
}

.prefeito-eleito-ul{
    display: inline-flex;
    list-style: none;
    text-align: left;
    margin-top: 2rem;
}

.prefeito-eleito-ul .descricao-prefeito-eleito{
    width: 165px;
    font-size: 9pt;
    margin-right: .5rem;
}

.prefeito-eleito-ul .foto-prefeito-eleito{
    width: 60px;
    height: 60px;
    background-color: #323232;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: .5rem;
}

.prefeito-eleito-ul .nome-prefeito-eleito{
    font-weight: bolder;
}

.prefeito-eleito-ul .nome-prefeito-eleito span{
    font-weight: lighter;
    font-size: 9pt;
}

.prefeito-eleito-ul .partido-prefeito-eleito{
    color: #323232;
}

.prefeito-eleito-ul .resultado-box{
    font-size: 8pt;
    font-weight: bolder;
    color: #fff;
    width: fit-content;
    padding: .3rem;
    background-color: #ff6126;
    border-radius: 4px;
}

.prefeito-eleito-ul .votos-prefeito-eleito{
    color: #6c6c6c;
}

/*------------*/

.grafico-prefeito-area-section{
    padding: 2rem;
}


.candidatos-lista-area h4{
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 14pt;
}

.candidatos-lista-area .canditato-ul{
    display: inline-flex;
    list-style: none;
    padding: 2rem 2rem 0rem 2rem;
}

.candidatos-lista-area .canditato-ul li{
    margin-right: .8rem;
}

.candidatos-lista-area .canditato-ul .descricao-candidato{
    width: 180px;
}

.candidatos-lista-area .foto-candidato{
    width: 60px;
    height: 60px;
    background-color: #323232;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.candidatos-lista-area .cargo-candidato{
    font-size: 10pt;
    color: #6a6a6a;
}


.candidatos-lista-area .nome-candidato{
    font-weight: bolder;
    color: #323232;
}

.candidatos-lista-area .partido-candidato{
    color: #535353;
}